{% extends 'master.html' %}
{% block body %}
{% load static %}
    <!-- Thank You area start -->
    <div class="thank-you-area">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-8">
                    <div class="inner_complated">
                        <div class="img_cmpted"><img src="{% static 'images/home/—Pngtree—true and false symbols accept_6020182.png' %}" alt="" width="30%" height="30%" style="position: relative; left: 440px;"></div>
                        <p class="dsc_cmpted" style="position: relative; left: 200px; font-size: 20px; font-style: bold;">Thank you for ordering in our store. You will receive a confirmation
                            email shortly.</p>
                        <div class="btn_cmpted" style="position: relative; left: 480px;">
                            
                            <a class="btn btn-primary" href="http://127.0.0.1:8000/">Continue shopping</a> <br>
                        </div>
                    </div>
                    <div class="main_quickorder text-align-center" style="position: relative; left: 420px;">
                        <h3 class="title">Call Us for Quick Order</h3>
                        <div class="cntct typewriter-effect"><span class="call_desk"><a href="tel:+01234567890" id="typewriter_num" style="position: relative; left: 75px;">+91 9501888214</a></span></div><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Thank You area end -->

{% endblock %}