{% extends 'master.html' %}
{% block body %}
{%load static%}
<style>
.css-border {
  border: 4px solid #cddc39;
  padding: 2px;
  border-radius: 50%;
  position: relative;
  left: 900px;
  bottom: 200px;
  border-top-color: #ff5722;
  border-left-color: #ff5722;
  width: 75px;
  height: 75px;
}
</style>
<div class="container py-5">
  <div class="breadcrumbs">
    <ol class="breadcrumb">
      <li><a href="#">Profile</a></li>
      <li class="active">My Profile</li>
    </ol>
</div>
   

    <div class="jumbotron" style="border-radius: 0px; background-color: #F0F0E9;">
      <h1>{{request.user.first_name}} {{request.user.last_name}}</h1>
      <p><strong>Email :</strong style="color : black;"> {{request.user.email}}</p>
      <p><strong>Username :</strong> {{request.user.username}}</p>
      <p><a class="btn btn-default get" href="/updateprofile/">Update Profile »</a>&nbsp; <a class="btn btn-default get" href="{% url 'my_order' %}" style="position: relative; top: 0px ">My Orders »</a>&nbsp;&nbsp;<a class="btn btn-default get" href="{% url 'change-password' %}" style="position: relative; top: 0px ">Change Password »</a></p>

    </div>

    {% if user.profile_pic == "" %}
    <img class="css-border" src="/{{user.profile_pic}}" />
    {% else %}
    <img class="css-border" src="/{{user.profile_pic}}" />
    {% endif %}
    <form method="post" action="" enctype="multipart/form-data">
      {% csrf_token %}
    <span style=" position: relative;left: 840px; bottom: 200px;"><button type="submit" class="btn btn-default get">Add new</button></span>
   
      <input type="file" style="position: relative;left: 870px; bottom: 200px;" name="profile_pic">
   </form>
    <div class="row">
      
      {% include 'partials/messages.html' %} 
      <div class="col-lg-6">
        <div class="card mb-4" id="headings">
          <div class="card-header"><span style="position: relative; top: 10px;"></span> <span class="float-right"><a class="btn btn-default get" href="/add-address/">Add Address »</a></span></div><br>
          <div class="card-body">
            {% if addresses %}
                {% for address in addresses %}
                    <h4 class="mb-3">Address {{forloop.counter}}</h4> 
                    
                    <span class="float-right"><a href=""><i class="fas fa-trash-alt small text-muted"></i></a></span>
               
                    <p>
                     
                        <strong>Locality: </strong>{{address.locality}} <br>
                        <strong>City: </strong>{{address.city}} <br>
                        <strong>State: </strong>{{address.state}} <br>
                        
                      </p>
                    
                    <hr>
                {% endfor %}
            {% else %}
            <div class="text-danger">
              Address not Added.
            </div><br>
            {% endif %}
            
          </div>
        </div>
      </div>

     
    </div>

    
    
  </div><br>
{% endblock %}